# Ignore node_modules and build files
node_modules
out
dist

npm-debug.log
README.md
.next
!.next/static
!.next/standalone
.git

# Ignore logs and temporary files
*.log
*.lock
*.tmp

# Ignore git and environment files
.git
.env.local
.env.*

